
/*** Forms *************************************/

/*** form-top ***/

.form-top-container {
  width: var(--width-chart);
  height: 90px;
  background-color: var(--unBlue5);
}
  
.form-top-container svg {
  width: 900px;
  height: 90px;
}
  
.form-top-container .form-icon-bg {
  fill: var(--blue5);
  stroke: var(--blue4);
  stroke-width: 1.5px;
  cursor: pointer;
}

.form-top-container .form-icon-bg:hover {
  fill: var(--unBlue3) ;
  stroke: var(--blue3);
  stroke-width: 1.5px;
  transition: fill .1s ease-in-out;
}

.form-top-container .icon-clicked .form-icon-bg {
  fill: var(--unBlue3);
  stroke: var(--blue1);
  stroke-width: 1.5px;
}

.form-top-container .form-icon {
  opacity: .5;
  cursor: pointer;
}

.form-top-container .icon-clicked .form-icon {
  opacity: 1;
  transition: opacity .1s ease-in-out;
}

.form-top-container .form-label {
  fill: var(--blue3);
}

.form-top-container .icon-clicked .form-label {
  fill: var(--blue1);
  font-weight: bold;
  transition: fill .1s ease-in-out;
}

.form-top-container .form-icon {
  pointer-events: none;
}

/*** form-inset ***/

div#form-inset-container {
  position: absolute;
  top: 10px;
  left: 10px;
  text-align: left;
  width: var(--width-form);
  height: var(--height-chart);
}

/* Year slider */

#form-year-slider .slider-container {
  position: relative;
  width: 100%;
  height: 40px;
}

#form-year-slider .slider {
  width: 90%;
  height: 10px;
  position: absolute;
  margin: auto;
  top: 60%;
  left: 4%;
  bottom: 0;
  border-radius: 2px;
}

#form-year-slider input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 95%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 60%;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
}

#form-year-slider input#slider-2 {
  left: 5%;
}

#form-year-slider input::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 0px;
}

#form-year-slider input::-moz-range-track {
  -moz-appearance: none;
  height: 5px;
}

#form-year-slider input::-ms-track {
  appearance: none;
  height: 5px;
}

#form-year-slider input::-webkit-slider-thumb {
  height: 1.7em;
  width: 1.7em;
  background-color: var(--red1);
  cursor: pointer;
  margin-top: -9px;
  pointer-events: auto;
  border-radius: 50%;
}

#form-year-slider input::-moz-range-thumb {
  height: 1.7em;
  width: 1.7em;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--blue1);
  pointer-events: auto;
  border: none;
}

#form-year-slider input::-ms-thumb {
  appearance: none;
  height: 1.7em;
  width: 1.7em;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--blue1);
  pointer-events: auto;
}

#form-year-slider input:active::-webkit-slider-thumb {
  background-color: white;
  border: 1px solid var(--blue1);
}

#form-year-slider .slider-label {
  position: absolute;
  font-size: .7em;
  /* font-weight: bold; */
  color: var(--blue1);
  top: 0;
  left: 0;
  /* transform: translate(-50%, 0); */
}


div#form-inset-container form {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-self: start;
  max-width: 100%;
  padding: 10px 10px 5px 15px;
}

rect#form-inset-bg {
  x: 10;
  y: 10;
  width: 165px;
  height: 335px;
  fill: white;
  fill-opacity: .60;
}

#form-inset-container input#form-number {
  font-size: 14px;
  width: 60px;
}

#form-inset-container #bar-dropdown-region select {
  width: 150px;
}

.form-title {
  font-size: 14px;
  font-weight: bold;
  color: var(--blue1);
  fill: var(--blue1);
}

.form-desc {
  color: var(--blue2);
  fill: var(--blue2);
  font-size: 10px;
  line-height: 1.2em;
  margin-bottom: 10px;
}

#form-inset-container form > label {
  flex-shrink: 0;
  align-self: start;
  padding: 5px 0 4px 0;
  margin-right: 6.5px;
}

#form-inset-container form div label, .form-label {
  display: flex;
  align-items: center;
  color: var(--blue1);
  fill: var(--blue1);
  font-size: 13px;
  margin-bottom: 0px;
}

#form-inset-container input {
  margin-right: 8px;
}
