
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

:root {
    --font: "Open Sans";
    --width-form: 160px;
    --width-chart: 1150px;
    --height-chart: 665px;

    /* Colors */
    --blue1: #0033A0; 
    --blue2: #4068B8; 
    --blue3: #8099D0; 
    --blue4: #B3C2E3; 
    --blue5: #D9E0F1; 
    --green1: #5CB8B2;  
    --green2: #85CAC5; 
    --green3: #AEDCD9; 
    --green4: #CEEAE8;
    --green5: #E7F4F3; 
    --yellow: #FFB81C; 
    --red1: #D22630; 
    --red2: #DD5C64; 
    --red3: #E99398; 
    --red4: #F2BEC1; 
    --red5: #F8DEE0; 
    --unBlue1: #418FDE; 
    --unBlue2: #84ADEC; 
    --unBlue3: #ADC9F2; 
    --unBlue4: #CEDEF7; 
    --unBlue5: #E6EFFB; 
    --unBlue6: #F3F7FD; 
    --gray1: #404040; 
    --gray2: #666666; 
    --gray3: #999999; 
    --gray4: #CCCCCC; 
    --gray5: #F2F2F2; 
}

*, *::before, *::after {
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: Open Sans, var(--sans-serif);
    font-weight: bold;
}

h1 {
    font-size: clamp(2rem, 1rem + 5vw, 3rem);
    line-height: 1.2em;
}

h2 {
    font-size: 1.6em;
    line-height: 1em;
    padding-top: 15px;
    padding-bottom: 15px;
}

h3 {
    font-size: 1.2em;
    line-height: 1em;
}

h4 {
    font-family: Open Sans, var(--sans-serif);
    font-size: .9em;
    line-height: 1em;
}

body {
    font-family: var(--font), sans-serif;
    margin: 0px;
    padding: 0px;
}

/*** Header and footer *************************/

header {
    display: flex;
    padding: min(3vw, 1rem) min(10vw, 5rem);
}

.logo-container img {
    width: min(60vw, 295px);
    height: auto;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 3rem 3rem 2rem 3rem;
}

.copyright {
    flex: 0 1 0px;
    font-size: .825rem;
    color: var(--gray2);
}

/*** Layout ************************************/

.content-grid, .full-width {
    --padding-inline: 1rem;
    --content-max-width: 800px;
    --breakout-max-width: 1150px;
    --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

    display: grid;
    gap: 0;
    grid-template-columns: 
        [full-width-start] minmax(var(--padding-inline), 1fr)
        [breakout-start] minmax(0, var(--breakout-size))
        [content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width)) [content-end] 
        minmax(0, var(--breakout-size)) [breakout-end] 
        minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
    grid-column: content;
}

.content-grid > .breakout {
    grid-column: breakout;
}

.content-grid > .full-width {
    grid-column: full-width;
    display: grid;
    grid-template-columns: inherit;
}

/*** Title *************************************/

.title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--blue1);
    color: white; 
}

.title-block-contents {
    text-align: center;
    max-width: 50rem;
    padding: 2em 1em;
}

/*** Page **************************************/

.par {
    max-width: 50rem;
    padding: 2em 1em;
}

/*** Tabs **************************************/

.tabs { 
    display: flex;
    justify-content: center;
    gap: 1rem; 
    cursor: pointer;
    font-size: 1rem;
    margin: 2rem 0; 
}

.tab { 
    border-radius: 5px;
    padding: .25rem .5rem; 
    border: 1px solid var(--blue5);
    background: var(--unBlue5); 
    color: var(--blue2);
}

.tab:hover {
    background-color: var(--unBlue4);
    transform: scale(1.05);
    transition: 
        background-color .1s ease-in-out,
        scale .1s ease-in-out,
    ;
}

.tab.active { 
    background: var(--unBlue1); 
    color: white; 
    transition: background .1s ease-in-out;
}

.tab.active:hover { 
    background: var(--blue2); 
    transition: background .1s ease-in-out;
}

/*** Dashboard *********************************/

.screen-warning {
    display: none;
    padding: 1em;
    font-size: .8em;
    text-align: center;
    color: var(--blue3);
    font-style: italic;
}

.download {
    padding: 1em;
    font-size: .8em;
    text-align: right;
    color: var(--blue3);
}

@media (max-width: 600px) {
    .screen-warning {
        display: block;
    }
}

.dashboard-container {
    height: 770px;
    overflow-x: scroll;
}

.graphic {
    position: relative;
    height: var(--height-chart);
}

.graphic svg {
    width: var(--width-chart);
    height: var(--height-chart);
}
