@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

:root {
    --font: "Open Sans";
    --width-form: 160px;
    --width-chart: 950px;
    --height-chart: 500px;

    /* Colors */
    --blue1: #0033A0; 
    --blue2: #4068B8; 
    --blue3: #8099D0; 
    --blue4: #B3C2E3; 
    --blue5: #D9E0F1; 
    --green1: #5CB8B2;  
    --green2: #85CAC5; 
    --green3: #AEDCD9; 
    --green4: #CEEAE8;
    --green5: #E7F4F3; 
    --yellow: #FFB81C; 
    --red1: #D22630; 
    --red2: #DD5C64; 
    --red3: #E99398; 
    --red4: #F2BEC1; 
    --red5: #F8DEE0; 
    --unBlue1: #418FDE; 
    --unBlue2: #84ADEC; 
    --unBlue3: #ADC9F2; 
    --unBlue4: #CEDEF7; 
    --unBlue5: #E6EFFB; 
    --unBlue6: #F3F7FD; 
    --gray1: #404040; 
    --gray2: #666666; 
    --gray3: #999999; 
    --gray4: #CCCCCC; 
    --gray5: #F2F2F2; 
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    font: inherit;
}

body {
    font-family: var(--font), sans-serif;
    font-size: 0.8rem;
    font-size: clamp(0.8rem, 0.76rem + 0.2vw, 1rem);
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 1.2rem + 1.5vw, 3rem);
    font-weight: 600;
    line-height: 1.2em;
    margin: 1rem 0;
}

h2, .methodology {
    font-size: 1.2rem;
    font-size: clamp(1.2rem, 0.9rem + 1.2vw, 1.5rem);
    font-weight: 600;
}

h3 {
    font-weight: 600;
}

strong {
    color: var(--blue1);
    font-weight: 700;
}

.disclaimer {
    display: flex;
    margin: auto;
    color: var(--red1);
    text-transform: uppercase;
    font-size: 1.2rem;
}

/*** Header and footer *************************/

header {
    display: flex;
    padding: min(3vw, 1rem) min(10vw, 5rem);
}

.logo-container img {
    width: min(60vw, 295px);
    height: auto;
}

footer {
    background: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 3rem 3rem 2rem 3rem;
    margin-top: 3rem;
}

.copyright {
    flex: 0 1 0px;
    font-size: 0.5rem;
    font-size: clamp(0.5rem, 0.435rem + 0.325vw, 0.825rem);
    color: var(--gray2);
}

/*** Layout ************************************/

.content-grid, .full-width {
    --padding-inline: 1rem;
    --content-max-width: 800px;
    --breakout-max-width: 950px;
    --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

    display: grid;
    gap: 0;
    grid-template-columns: 
        [full-width-start] minmax(var(--padding-inline), 1fr)
        [breakout-start] minmax(0, var(--breakout-size))
        [content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width)) [content-end] 
        minmax(0, var(--breakout-size)) [breakout-end] 
        minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
    grid-column: content;
}

.content-grid > .breakout {
    grid-column: breakout;
}

.content-grid > .full-width {
    grid-column: full-width;
    display: grid;
    grid-template-columns: inherit;
}

/*** Title *************************************/

.title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--blue1);
    color: white; 
    margin-bottom: 2rem;
}

.title-block-contents {
    text-align: center;
    max-width: 50rem;
    padding: 2em 1em;

    .product-name {
        background: var(--blue2);
        font-size: .7rem;
        text-transform: uppercase;
        opacity: .8;
        padding: .1rem .5rem;
    }

    .subtitle {
        font-size: 1.1rem;
    }
}

/*** Page **************************************/

.date {
    display: flex;
    align-items: center;
    gap: .4em;
    color: #343a40;
    margin-bottom: 2rem;
}

.svg-inline--fa {
    height: 1em;
    overflow: visible;
}

.contents-table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .25rem;
    gap: clamp(0.25rem, 1vw, 0.5rem);
    font-size: 0.5rem;
    font-size: clamp(0.5rem, 0.1rem + 1.6vw, 0.9rem);

    & ul {
        padding-left: 1rem;
        padding-left: clamp(1rem, 4vw, 2rem);
    }

    & .table-col {
        background: var(--unBlue6);
        
        & .table-col-name {
            text-align: center;
            font-weight: 600;
            padding: .25rem 0;
            background: var(--unBlue4);
        }

        & .table-col-body {
            padding: 0 0.25rem;
            padding: 0 clamp(0.25rem, -0.25rem + 2vw, 0.75rem);
        }
    }
}

details {

    & .details-contents {
        background: var(--unBlue6);
        padding: .1rem 1rem;
    }

    & summary {
        margin-bottom: .5rem;
        cursor: pointer;
        transition: opacity .2s;

        &:hover {
            opacity: .6;
        }
    }

    & p {
        font-size: .9rem;
        color: var(--gray1);
    }
}



/*** Tabs **************************************/

.tabs { 
    display: flex;
    justify-content: center;
    gap: 1rem; 
    cursor: pointer;
    font-size: 0.6rem;
    font-size: clamp(0.6rem, 0.56rem + 0.20vw, 0.8rem);
    text-transform: uppercase;
    margin: clamp(0.5rem, 0.4rem + 0.5vw, 1rem) 0; 
}

.tab { 
    border-radius: 5px;
    padding: .25rem .5rem; 
    border: 1px solid var(--blue5);
    background: var(--unBlue5); 
    color: var(--blue2);
}

.tab:hover {
    background-color: var(--unBlue4);
    transform: scale(1.05);
    transition: 
        background-color .1s ease-in-out,
        scale .1s ease-in-out,
    ;
}

.tab.active { 
    background: var(--unBlue1); 
    color: white; 
    font-weight: bold;
    transition: background .1s ease-in-out;
}

.tab.active:hover { 
    background: var(--blue2); 
    transition: background .1s ease-in-out;
}


